html {
    height: 100%;
}

:root {
    --font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    --main-bg-color: lightblue;
    --btn-bg-color: white;
    --btn-hover-bg-color: #ffd200;
    --btn-border-color: #000;
    --btn-box-shadow-color: #000;
}

body {
    font-family: var(--font-family);
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(4845746.jpg);
    background-size: cover;
    background-position: center;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h2 {
    -webkit-text-stroke: 0.08px white;
}

.main-container {
    display: grid;
    grid-template-areas: overlap;
    justify-items: center;
    width: 75%;
    min-height: 25%;
    padding: 1.5rem;
    background-color: var(--main-bg-color);
    border: 0.5rem solid var(--btn-border-color);
    border-radius: 0.5rem;
    box-shadow: 2.5px 3px 0 var(--btn-box-shadow-color);
    outline: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-btns {
    font-family: var(--font-family);
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    border: 1.5px solid var(--btn-border-color);
    border-radius: 0.5rem;
    box-shadow: 2.5px 3px 0 var(--btn-box-shadow-color);
    outline: none;
    margin: 1rem;
    background-color: var(--btn-bg-color);
    cursor: pointer;
}

.main-btns:hover {
    box-shadow: 5.5px 7px 0 var(--btn-box-shadow-color);
    background-color: var(--btn-hover-bg-color);
}

.question-box {
    display: none;
    margin-top: 2rem;
    width: 75%;
    padding: 1rem;
    border-top: 2px solid var(--btn-border-color);
    text-align: center;
}

#user-name {
    font-family: var(--font-family);
    text-align: center;
    font-weight: bold;
    padding: 0.875rem;
    font-size: 1rem;
    border: 1.5px solid var(--btn-border-color);
    border-radius: 0.5rem;
    box-shadow: 2.5px 3px 0 var(--btn-box-shadow-color);
    outline: none;
    transition: ease 0.25s;
}

#user-name:focus {
    box-shadow: 5.5px 7px 0 var(--btn-box-shadow-color);
}

::placeholder {
    text-align: center;
    font-size: 1rem;
    color: grey;
}

.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    margin-top: 1rem;
}

.quiz-complete {
    -webkit-text-stroke: 0.05px white;
    font-size: 1.5rem;
}

